
/*Font Thai*/
@import url('https://fonts.googleapis.com/css?family=Kanit');
/* Bg Video*/
  *{
  box-sizing: border-box;
}

html{
  font-size: 62.5%; /*  1rem  = 10px */

}
body{
  margin:0;
  font-family: 'Kanit', sans-serif;
  font-size:1rem;
  font-weight:400;
  line-height:30px;
  color:#333;
  overflow-x:hidden;
}
h1{
    font-size: 50px;
    margin-bottom: 0;
    line-height: 64px;
}
h2{
    font-size: 40px;
    line-height: 64px;
    text-align: center;
}
 @media only screen and (max-width: 992px){
  h1{
     font-size: 38px;
    margin-bottom: 0;

  }
  h2{
      font-size: 30px;

  }

}
p{
  font-size: 2em;
}
/*button*/
button.btn{
  padding: 1em 2em 1em;
  color:white;
  background-color: #2D3E51 ;

}
button.btn:hover{
  color:white;
   background-color:#303740 ;
}
section{
  padding:10em 0 5em;
  background-color: #EFEFEF ;
}
section#social-profile{
  background-color: #FFFFFF ;
}
section#social-profile a{
 padding: 0px 2em 0px;
}
section#portfolio{
  background-color: #FFFFFF;
}

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
 
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:left;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden; 

}

.fullscreen-video-wrap video{
/*  min-height:100%;
  min-width:100%;*/

  display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.fullscreen-video-wrap img{
/*  min-height:100%;
  min-width:100%;*/

  display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#000000b5;

}

.header-content{
    padding-left:1rem;
  padding-right:1rem;
  z-index:2;
}

.header-content h1{
  position: center;
  font-size: 5em;
  font-weight: 80;
  margin: 0;
  line-height: 1;
}

.header-content h3{
  text-align:left;
  font-size: 2.7em;
  margin-top: 5px;
  display:block;
  padding-bottom:2rem;

}

/*skill*/
.progress{
  height: 25px;
}


/*Background*/
.education-box{
      background: #fff;
    padding: 20px;
    min-height: 150px;
    margin-bottom: 15px;
    box-shadow: 0 3px 16px rgba(0,0,0,.1);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
/*portfoilio*/
.item-portfolio{
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.75);
  border-radius: 15px 15px 15px 15px;
}
.portfolio-description {
    padding: 5px;
    text-align: center;
    background-color: #dfe1e2;
    border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    border: 0px solid #000000;
  }
/*Navbar */
  .navbar {
      margin-bottom: 0;
      background-color:#22547000;
      z-index: 9999;
      border: 0;
      font-size: 15px;
      line-height: 1.4285714px !important;
      letter-spacing: 1px;
      border-radius: 0;
      transition-duration: 0.5s;
      padding: 10px;
  }
  .navbar .navbar-brand {
    background: url(../asset/logo-nav-white.png) center / contain no-repeat;
    width: 200px;
  }
   .navbar-nav li a span{
       color: #FFFFFF ;       
   }
  .navbar-nav li a:hover span, .navbar-nav li.active a span{
      color: grey;
      -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
      transition: all 0.2s;
  }
  li.active{
     color: grey;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
     
  }
 
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #00000000;
    transition-duration: 0.5s;
}

  .affix{
    position: fixed ;
    top:0;
    width: 100%;
 /*   z-index: 9999 ;*/
 border-bottom: 1px solid grey;
    color:grey;
    background-color:white;
  }
   .affix .navbar-nav li a span{
    color:grey;
  }
   .affix .navbar-nav li a span:hover{
    color:black;
  }
   .affix .navbar-header .navbar-brand {
    background: url(../asset/logo-nav-black.png) center / contain no-repeat;
    width: 200px;
  }


  @media only screen and (max-width: 991px){
   .navbar {
      padding: 10px 0px;
      font-size: 15px;   
      line-height: 1.4285714px !important;
    }
    .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 8px;
    }
  }
 @media only screen and (max-width: 767px){
 .navbar {
    background: #23292c;
    padding: 10px 0;
 
  }
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:#83858a7d;
  }
}



/*Form*/

.location .location1{
  padding-top: 1em;
}
.location .location1 i.fa-lg{
    height: 2em;
    width: 2em;
    background: #fec608;
    color: black;
    font-size: 3em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fec608;
    line-height: 2em;
    transition: all 400ms linear 0s;
}
.location .location2{
  padding-top: 1em;
}
.location .location2 p{
  line-height: 20px;
  font-size:1.5em;
}
.contact .location2 p.header-locate{
  font-size:1.8em;
}
.contact-form .help-block{
  color:#1c8e16;
  font-weight: 3em;
}

#msgerr{
  color:red;
}
/*Map*/

 #map{
        height: 250px;  
        width: 100%;  
}
.location p{
	font-size: 2em;
	text-align: left ;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  color: #30a7dd;
  text-decoration: none;
}
 



/*footer*/
footer.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#1E282D;
    color: white;
    text-align: center;
    padding: 10px 0 0 10px;

    height: auto;
    
  }
    
  
    footer.page-footer .text-footer p {
   
    text-align: center;
    font-size: 14px;
    
  }
   footer.page-footer .text-footer p a{
   
    color:#1E94CC;
    
  }
     footer.page-footer .text-footer p a:hover{
   
    color:#32b3ef;
    
  }
  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 617px){

     footer.page-footer .text-footer p {
  
        display: block;
        padding: 20px 0 20px;
    }
}
 
 #chart {
  margin: 20px;
  width: 400px;
  height: 20px;
}